.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    padding-left: 100px;
    color: #ffffff;
}
.navbar ul {
    display: flex;
    gap: 40px;
    list-style: none;
}
.navbar li {
    cursor: pointer;
}
.navbar-right{
    display: flex;
    align-items: center;
    gap: max(1vw, 10px);
}
.navbar button{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    color: #000000;
    background: #ffffff;
    border: none;
    cursor: pointer;
}
.navbar-right form {
    padding: 4px;
    background-color: #fff;
    border-radius: 5px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.navbar-right input {
    flex: 1;
    font-size: 16px;
    outline: none;
    border: none;
    padding-left: 10px;
}
.navbar-right button {
    border: none;
    background:#bcbcbc;
    color: rgb(40, 40, 40);
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
}
